<!-- 
  
Title: login page
Version: v1
Date: 14.12.2020

Short Description:
Register for doctor

Output Data:
No output data 

Input Data:
Username, password and email (has not to be valid only containing @ symbol)

Devices to connect:

Changelog:
14.12.2020 First Test Implementation
06.01.2020 Added a better look for the whole page
-->
<!--always extend Page with main header and block content !-->

{% extends "main/header.html" %}

{%block content %}
  <div class="card ">
    <div class="card-header">Register</div>
    <div class="card-body">
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn" style="background-color: lightgray; color: black" type="submit">Register</button>
  </form>
    If you already have an account, <a href="/login.html"><strong>login</strong></a> instead
  </div>
  </div>
{% endblock %}